<li
  id="predictive-search-option-product-{{ forloop.index }}"
  class=""
  role="option"
  aria-selected="false"
>
  <a
    href="{{ product.url }}"
    class="flex items-center gap-5 p-3 text-gray-900 hover:text-gray-900 focus:outline-none focus:bg-gray-50 group-aria-selected:bg-gray-50 hover:bg-gray-50 "
    tabindex="-1"
  >
    {%- if product.featured_media != blank -%}
      <div class="h-13 w-13">
        <img
          class=""
          src="{{ product.featured_media | image_url: width: 150 }}"
          alt="{{ product.featured_media.alt | escape }}"
          width="52"
          height="
            {{ 52 | divided_by:
            product.featured_media.preview_image.aspect_ratio }}
          "
        >
      </div>
    {%- endif -%}
    <div class="">
      <p class="text-md">{{ product.title | escape }}</p>
    </div>
  </a>
</li>
