{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
    class="flex flex-col gap-[2rem]"
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type
        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          assign picker_type = 'swatch'
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="flex gap-x-[30px] gap-y-[3rem] items-center">
          <span class="mx-0 my-0 min-w-[2.5rem] text-[0.9rem] leading-none">{{ option.name }}</span>
          <legend class="sr-only">{{ option.name }}</legend>

          <div class="flex gap-x-[10px] gap-y-[0.75rem] items-center">
            {% render 'product__variant-options',
              product: product,
              option: option,
              product_form_id: product_form_id,
              picker_type: picker_type
            %}
          </div>
        </fieldset>
      {%- else -%}
        <fieldset class="flex flex-row flex-nowrap gap-x-[30px] gap-y-[3rem] items-center">
          <legend class="sr-only">{{ option.name }}</legend>
          <div class="mx-0 my-0 min-w-[2.5rem] leading-none">{{ option.name }}</div>
          <div class="flex gap-x-[10px] gap-y-[0.75rem] items-center">
            {% render 'product__variant-options',
              product: product,
              option: option,
              product_form_id: product_form_id,
              picker_type: picker_type
            %}
          </div>
        </fieldset>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
