{% comment %}
  <header class="bg-gray-50">
    <div class="container py-4">
      <div class="grid grid-cols-3 h-16">
        <div class="flex flex-row gap-2">
          <div class="">
            {% render 'header__logo' %}
          </div>
        </div>
        <div class="flex flex-row justify-center items-center"></div>
        <div class="flex flex-row gap-6 justify-end items-center">
          {% render 'language-localization' %}
          <div class="flex flex-row">
            {% render 'header__search' %}
            {% render 'header__account' %}
            {% render 'wishlist__link' %}

          </div>
        </div>
      </div>
    </div>
  </header>
{% endcomment %}

<div class="fixed top-[0%] bottom-[auto] inset-x-[0%] pt-8 md:pt-5 lg:pt-15 pr-2 sm:pr-8 md:pr-5 lg:pr-20 pl-2 sm:pl-8 md:pl-5 lg:pl-20 z-20">
  <div class="flex md:grid relative grid-cols-3 grid-rows-[auto] auto-cols-[1fr] gap-4 justify-between md:justify-start items-center pr-6 sm:pr-8 md:pr-15 pl-6 sm:pl-8 md:pl-15 border border-white border-solid rounded-[100vw] w-full h-25 bg-[#ffffff80] backdrop-filter-[blur(7px)]">
    <a href="{{ routes.root_url }}" class="max-w-38"
      ><img src="{{ 'logo.svg' | asset_url }}" width="152" height="40" alt="Logo"
    ></a>
    <div>
      <ul class="hidden md:flex justify-center items-center">
        {% for link in linklists[section.settings.header_menu].links %}
          <li>
            <a class="block pr-[10px] pl-[10px] h-full" href="{{ link.url }}">
              <div>{{ link.title }}</div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="flex gap-x-3 md:gap-x-10 gap-y-3 md:gap-y-10 justify-end items-center">
      <div class="flex">
        <a href="{{ routes.search_url }}" class="flex justify-center items-center size-9" href="">
          <svg
            class="w-[17px]"
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            viewBox="0 0 20 20"
            fill="none"
            vector-effect="non-scaling-stroke"
            stroke-width="1"
          >
            <path d="M18.7502 18.7502L14.4072 14.4072M14.4072 14.4072C15.1501 13.6643 15.7394 12.7824 16.1414 11.8118C16.5435 10.8411 16.7504 9.80081 16.7504 8.75021C16.7504 7.6996 16.5435 6.65929 16.1414 5.68866C15.7394 4.71803 15.1501 3.83609 14.4072 3.09321C13.6643 2.35032 12.7824 1.76103 11.8118 1.35898C10.8411 0.956931 9.80081 0.75 8.75021 0.75C7.6996 0.75 6.65929 0.956931 5.68866 1.35898C4.71803 1.76103 3.83609 2.35032 3.09321 3.09321C1.59288 4.59354 0.75 6.62842 0.75 8.75021C0.75 10.872 1.59288 12.9069 3.09321 14.4072C4.59354 15.9075 6.62842 16.7504 8.75021 16.7504C10.872 16.7504 12.9069 15.9075 14.4072 14.4072Z" stroke="#3B322B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </a>
        {% render 'header__cart' %}
      </div>
      <button
        type="button"
        class="inline-flex relative gap-x-3 sm:gap-x-5 gap-y-3 sm:gap-y-5 justify-start items-center pt-[5px] sm:pt-[10px] pr-[5px] sm:pr-[10px] pb-[5px] sm:pb-[10px] pl-[15px] sm:pl-[30px] border border-neutral-300 border-solid rounded-[200px] whitespace-nowrap bg-neutral-100 cursor-pointer"
        data-open-menu
        aria-expanded="false"
        aria-controls="mega-menu"
      >
        <span class="text-sm sm:text-inherit">Menu</span
        ><span class="flex justify-center items-center p-0 rounded-[100vw] size-[31px] text-neutral-100 bg-neutral-300">
          <svg
            class="w-[11px]"
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            viewBox="0 0 11 9"
            fill="none"
            vector-effect="non-scaling-stroke"
            stroke-width="1"
          >
            <line y1="0.5" x2="11" y2="0.5" stroke="white" stroke-width="1"></line>
            <line y1="4.5" x2="11" y2="4.5" stroke="white" stroke-width="1"></line>
            <line y1="8.5" x2="11" y2="8.5" stroke="white" stroke-width="1"></line>
          </svg>
        </span>
        <div
          class="absolute top-[50%] right-[auto] bottom-[0%] left-[100%] border-t border-t-neutral-300 border-t-solid w-screen h-px"
        ></div>
      </button>
    </div>
  </div>
</div>

{% render 'mega-menu', section: section %}

<!-- Section Settings -->
{% schema %}
{
  "name": "header",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "A New Season, A Softer Rhythm."
    },
    {
      "type": "text",
      "id": "cta",
      "label": "CTA",
      "default": "Shop the Edit"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Each drop is shaped by timeless silhouettes, elevated materials, and a touch of understated luxury, made to accompany you through every chapter of your day."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    },
    {
      "type": "link_list",
      "id": "header_menu",
      "label": "Header Menu",
      "info": "Select the menu to display in the header."
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "info": "Select the menu to display in the mega menu."
    },
    {
      "type": "link_list",
      "id": "legal_menu",
      "label": "Legal Menu",
      "info": "Select the legal menu to display in the mega menu."
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "header"
    }
  ]
}
{% endschema %}
