{%- assign product_form_id = 'product-form-' | append: section.id -%}

<product-info
  id="MainProduct-{{ section.id }}"
  class=""
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="false"
  data-url="{{ product.url }}"
>
  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

  <div class="">
    <div class="">
      {% render 'product__media-slider', product: product %}
    </div>

    <div class="flex flex-col gap-8 py-12 px-8">
      <div class="flex flex-col gap-2">
        <div class="flex justify-between items-center gap-2">
          <h1 class="h3">{{ product.title }}</h1>
          {% render 'wishlist__button' %}
        </div>
        {% render 'card-product__price' %}
      </div>

      <div class="flex flex-col gap-8">
        {% render 'product__variant-picker', product: product, product_form_id: product_form_id %}

        <div class="flex gap-1">
          {% render 'product__quantity-input', product: product, product_form_id: product_form_id %}
          {%- render 'product__form', product: product, product_form_id: product_form_id, section_id: section.id -%}
        </div>
      </div>
    </div>
  </div>
</product-info>

<script type="application/ld+json">
  {{ product | structured_data }}
</script>
